.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 28px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 215px;
  height: 114px;
  margin: -8px auto 0 324px;
}

.u-section-1 .u-image-2 {
  width: 215px;
  height: 114px;
  margin: -220px auto 0 324px;
}

.u-section-1 .u-text-2 {
  width: auto;
  margin: -57px 476px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 59px auto 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 26px 481px 0 auto;
  padding: 9px 30px 11px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px 481px 0 auto;
  padding: 9px 30px 11px;
}

.u-section-1 .u-text-4 {
  width: auto;
  margin: -63px 476px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 215px;
  height: 114px;
  margin: 22px auto 0 302px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -73px 481px 0 auto;
  padding: 9px 30px 11px;
}

.u-section-1 .u-text-5 {
  width: auto;
  margin: -49px 476px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 215px;
  height: 114px;
  margin: 57px auto 0 324px;
}

.u-section-1 .u-text-6 {
  width: auto;
  margin: -103px 476px 0 auto;
}

.u-section-1 .u-text-7 {
  width: auto;
  margin: 23px 476px 0 auto;
}

.u-section-1 .u-text-8 {
  width: auto;
  margin: 43px -10px -63px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -7px;
    margin-right: 392px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 281px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 281px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 9px;
    margin-right: 392px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -50px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 281px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 2px;
    margin-right: 392px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -59px;
    margin-right: 392px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 50px;
    margin-right: 392px;
  }

  .u-section-1 .u-text-8 {
    margin-bottom: -90px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 63px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -61px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 61px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 61px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 300px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 61px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -77px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -138px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 129px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-8 {
    margin-bottom: -169px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -11px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -65px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -260px;
    margin-right: 225px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 113px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 181px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -66px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -244px;
    margin-right: 225px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 71px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 82px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -250px;
    margin-right: 225px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 261px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -305px;
    margin-right: 225px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 46px;
    margin-right: 225px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 49px;
    margin-bottom: -86px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 598px;
    margin-right: -15px;
    margin-left: auto;
    padding: 9px 30px 11px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin-top: -595px;
    margin-left: 17px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 597px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 30px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -499px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -310px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 578px;
    margin-right: -15px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 94px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -210px;
    margin-right: -15px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -206px;
    margin-left: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 395px;
    margin-right: -12px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -515px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 376px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -805px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 542px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 135px;
    margin-bottom: 60px;
  }
}